<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3><%= title %></h3>
    <p><%= content %></p>
    <div>
      <form action="/memo/add" method="post">
        <p>メモ内容：<input type="text" name="text"></p>  
        <input type="submit" value="追加">
      </form>
    </div>
  </body>
</html>
