<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3><%= title %></h3>
    <p><%= content %></p>
    <div>
      <form action="/memo/table-delete" method="post"> 
        <input type="submit" value="削除">
      </form>
    </div>
  </body>
</html>
